*{
    margin:0;
    padding:0;
}

.app_wr{
    font-family:'Merriweather', serif;
    position:absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;
    padding:10px 20px;
}
.app_bd{
    position:relative;
    width:100%;
    height:100%;
}

.mn_wr{
    position:fixed;
    right:0;
    top:0;
    box-sizing:border-box;
    width:90px;
    height:100%;
    padding:20px;
    z-index:100000;
}
.mn-active .mn_wr{
    left:0;
    bottom:0;
    width:auto;
    height:auto;
}
.mn_bd{
    top:0;
    bottom:0;
    right:0;
    left:100%;
    position:absolute;
    opacity:0.9;
    background:#f0f0f0;
    transition:0.22s;
    padding:0 50px;
}
.mn-active .mn_bd{
    left:0;
}
.mn_bd-items{
    position:absolute;
    top:0;
    bottom:0;
    height:400px;
    margin:auto;
}
.mn_bd-item_wr{
    font-size:100px;
    cursor:pointer;
}
.mn_bd-item_bd{
    display:inline-block;
}
.mn_bd-item_bd-txt--a{
    color:#9e9e9e;
    text-decoration:none;
    transition:0.22s;
}
.mn_bd-item_wr:hover .mn_bd-item_bd-txt--a{
    color:#191919;
}

.mn-btn_wr{
    text-align:center;
    position:relative;
    width:50px;
    height:50px;
    float:right;
    z-index:100000;
}
.mn-btn-item{
    width:50px;
    height:40px;
    padding:0 2px;
    cursor:pointer;
    border:none;
    background:none;
    box-sizing:border-box;
    outline:none;
}
.mn-btn-item--line{
    transition:0.2s;
    border:none;
    background:#ddd;
    color:#ddd;
    height:5px;
    margin:10px 0;
}
.mn-btn-item:hover .mn-btn-item--line,
.mn-btn-item:active .mn-btn-item--line{
    background:#191919;
}
.mn-btn-item--line1{
    margin-top:0;
}
.mn-btn-item--line2{
    margin-bottom:0;
}
.mn-active .mn-btn-item--line1{
    -o-transform:skew(-20deg, 20deg);
    -ms-transform:skew(-20deg, 20deg);
    -moz-transform:skew(-20deg, 20deg);
    -webkit-transform:skew(-20deg, 20deg);
    transform:skew(-20deg, 20deg);
    margin-bottom:0;
}
.mn-active .mn-btn-item--line2{
    -o-transform:skew(20deg, -20deg);
    -ms-transform:skew(20deg, -20deg);
    -moz-transform:skew(20deg, -20deg);
    -webkit-transform:skew(20deg, -20deg);
    transform:skew(20deg, -20deg);
    margin-top:-5px;
}


.ws_wr{
    right:0;
    left:0;
    top:0;
    bottom:0;
    position:absolute;
}
.ws_mn{
    padding:10px 5px;
    font-size:12px;
    color:#9e9e9e;
    position:absolute;
    top:0;
    bottom:0;
    height:75px;
    margin:auto;
}
.ws_mn-item{
    margin:2px 0;
    cursor:pointer;
    padding:5px 10px;
    line-height:1;
    transition:0.22s;
}
.ws_mn-item:hover{
    color:#191919;
    padding-left:14px;
}
.ws_mn-item-active{
    color:#191919;
    font-size:14px;
    padding-left:14px;
}
.ws_bd{
    margin:auto;
    height:100%;
    max-width:920px;
    overflow:hidden;
    text-align:center;
    position:relative;
    padding:15px;
    box-sizing:border-box;
}
.ws_bd-item{
    height:100%;
    position:relative;
}
.ws_bd-item_bd{
    position:absolute;
    left:0;
    right:0;
    top:50%;
    margin-top:-25%;
    bottom:50%;
    margin-bottom:-25%;
    display:inline-block;
}
.ws_bd-item_bd,
.ws_bd-item--img{
    width:890px;
    height:500px;
    box-sizing:border-box;
    margin:auto;
}
.ws_bd-item_bd-bcg{
    background:none;
}
.ws_bd-item_bd-bcg:hover{
    background:rgba(0, 0, 0, 0.45);
}
.ws_bd-item_bd-bcg,
.ws_bd-item_bd-bcg--a{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transition:0.22s;
}
.ws_bd-item_bd-bcg--a{
    color:#fff;
    margin:auto;
    line-height:50px;
    max-height:50px;
    text-decoration:none;
    font-size:50px;
    opacity:0.4;
}
.ws_bd-item_bd-bcg:hover .ws_bd-item_bd-bcg--a{
    opacity:1;
}

.ws_bd-item--img{
    margin:auto;
}
.ws_bd-item--txt{
    color:#c7c7c7;
    position:absolute;
    font-size:9px;
    line-height:1;
}
.ws_bd-item--txt1{
    left:-48px;
    bottom:-51px;
    transform:rotate(-90deg) translateX(100%) translateY(-100%);
}
.ws_bd-item--txt2{
    bottom:-14px;
    left:0;
    transform:none;
}
.ws_bd-item--txt3{
    top:-14px;
    right:0;
    transform:none;
}
.ws_bd-item--txt4{
    right:-47px;
    top:-50px;
    transform:rotate(90deg) translateX(100%) translateY(-100%);
}